.Paginator{
    margin: 10px;
}
.pageNumber.selectedPage{
    font-weight: bolder;
    border-color: black;
}
.pageNumber{
    width: 20px;
    cursor: pointer;
    border: 1px solid grey;
    padding: 2px;
    text-align: center;
}