.formControl.error textarea,
.formControl.error input{
    border: 2px solid indianred;
}

.formControl.error span{
    font-weight: bold;
    color: indianred;
}

.formSummaryError {
    border: 2px solid orangered;
    color: orangered;
    display: inline-block;
}