.app-wrapper {
  display: grid;
  margin: 0 auto;
  /*overflow: hidden;*/
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.appWrapperContent {
  grid-area: c;
  background-color: yellowgreen;
}


