.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialogItems {
  padding: 10px;
}

.dialog a {
    color: black;
    text-decoration: none;
}
.dialog a.active  {
    color: gold;
}

.messages {
  padding: 10px;
}

.message {
}

.sendButton{
    display: block;
    width: 70px;
}
textarea{
    width: 300px;
}